.membership {

    min-height: 50rem;
    margin-top: 5rem;
    padding: 5rem;
    background-color: transparent;
}

.membership {

    & > :not(:last-child) { margin-bottom: 15rem; }

    &__heading {

        width: 100%;
        height: max-content;
        text-align: center;
        font-weight: 900;
        color: $bg-slate-700;
    }
}