.cards {

    /* === media queries === */

    @include respond (break-970) {

        grid-template-columns: repeat(3, 27rem);
    }

    @include respond (break-865) {

        grid-template-columns: repeat(2, 30rem);
        column-gap: 5rem;
        row-gap: 10rem;
    }

    @include respond (break-670) {

        grid-template-columns: repeat(1, 30rem);
    }

    /* === main styling === */

    max-width: 124rem;
    padding: 1.5rem;
    padding-bottom: 5rem;

    margin-top: 10rem;
    margin-inline: auto;
    background-color: transparent;

    /* === grid === */

    display: grid;
    grid-template-columns: repeat(3, 30rem);
    grid-template-rows: auto;
    place-content: center;
    gap: 2.5rem;
    row-gap: 6.5rem;
}

.cards {

    &__wrapper {

        /* === media queries */

        @include respond (break-970) {

            width: 27rem;
        }

        @include respond (break-865) {

            width: 30rem;
        }

        /* === main styling */

        width: 30rem;
        height: max-content;
        margin-top: 5rem;

        border-radius: 10px;
        background-color: $bg-white;
        border: 1px solid $bg-grey-200;

        @include shadow-md;
    }

    &__body,
    &__expand {

        width: 100%;
    }

    &__body {

        position: relative;
        
        height: 12rem;
        background-color: $bg-white;
        border-radius: 5px 5px 0 0;

        transition: height .4s ease-in-out;
    }

    &__expand {

        position: relative;
        padding: 1.5rem 0;
        background-color: transparent;
    }

    &__button {

        width: 4.5rem;
        height: 4.5rem;

        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        background-color: $bg-white;
        border: 1px solid $bg-grey-200;
        cursor: pointer;

        @include shadow-md;

        & > i {

            font-size: 2.2rem;
            line-height: none;
            transition: transform .4s ease-in-out;
            color: $bg-grey-400;
        }
    }

    &__checkbox { display: none; }
}

/* === cards up styles === */

.cards {

    &__up {

        padding-top: 6.5rem;
        padding-bottom: 2.5rem;

        width: 100%;
        height: max-content;
    }

    &__img {

        width: 8.5rem;
        height: 8.5rem;

        background-color: transparent;
        border: 1px solid $bg-grey-200;
        border-radius: 10px;

        position: absolute;
        top: -5rem;
        left: 50%;
        transform: translateX(-50%);

        display: grid;
        place-content: center;

        overflow: hidden;
        @include shadow-md;

        & > img { width: 8.5rem; }
    }

    &__name,
    &__position {

        width: 100%;
        height: max-content;
        text-align: center;
    }

    &__name {
        
        font-size: 1.8rem;
        font-weight: 400;
    }

    &__position {

        margin-top: .85rem;
        font-size: 1.4rem;
        color: $bg-grey-500;
    }
}

/* === cards down styles === */

.cards {

    &__down {

        display: none;

        width: 100%;
        height: max-content;
        padding: .75rem;
    }

    &__work {

        padding: 1rem;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid $bg-grey-200;

        font-size: 1.4rem;
        text-align: right;

        line-height: 1.7;
    }
}

/* ====== rotate the icon ====== */

.cards {

    &__checkbox:checked ~ &__button i {

        transform: rotate(-180deg);
    }
}

/* ====== sorting the cards ====== */

#card-1 {

    @include respond (break-1130) { order: 3; }
}

#card-2 {

    @include respond (break-785) { order: 2; }
}

#card-3 {

    @include respond (break-785) { order: 1; }
}