.min-light { font-weight: 200 !important; }
.mid-light { font-weight: 300 !important; }
.max-light { font-weight: 400 !important; }

.min-bold { font-weight: 500 !important; }
.mid-bold { font-weight: 600 !important; }
.max-bold { font-weight: 900 !important; }