@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Tajawal, sans-serif, arial;
}

#root {
  width: 100%;
  margin: 0 auto;
}

.section {
  max-width: 128rem;
  margin: 0 auto;
}

.min-light {
  font-weight: 200 !important;
}

.mid-light {
  font-weight: 300 !important;
}

.max-light {
  font-weight: 400 !important;
}

.min-bold {
  font-weight: 500 !important;
}

.mid-bold {
  font-weight: 600 !important;
}

.max-bold {
  font-weight: 900 !important;
}

.h-primary {
  color: inherit;
  font-size: 3.4rem;
  font-weight: 400;
}
@media (max-width: 29.375em) {
  .h-primary {
    font-size: 3rem;
    line-height: 1.25;
  }
}

.btn, .btn:link, .btn:active {
  display: inline-block;
  padding: 1rem 4.5rem;
  margin-top: 1.5rem;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.btn__blue {
  background-color: #075985;
  color: #FFFFFF;
}
.btn__white {
  background-color: #FFFFFF;
  color: #0F172A;
}
.btn__dark {
  background-color: #1E293B;
  color: #FFFFFF;
}
.btn__animation:hover {
  transform: translateY(-3px);
}
.btn__animation:active {
  transform: translateY(1px);
}

.i-nav {
  width: 3rem;
  height: 3px;
  border-radius: 5px;
  background-color: #FFFFFF;
  position: relative;
}
.i-nav::before, .i-nav::after {
  width: 3rem;
  height: 3px;
  border-radius: 5px;
  background-color: #FFFFFF;
  display: inline-block;
}
.i-nav::after, .i-nav::before {
  content: "";
  left: 0;
  position: absolute;
  transition: all 0.2s;
}
.i-nav::after {
  top: -10px;
}
.i-nav::before {
  top: 10px;
}

.i-center {
  line-height: 1;
  color: inherit;
  text-align: center;
}
.i-center-2 {
  font-size: 2rem;
}
.i-center-3 {
  font-size: 3rem;
}
.i-center-4 {
  font-size: 4rem;
}
.i-center-5 {
  font-size: 5rem;
}

.nav__checkbox {
  display: none;
}
.nav__button {
  position: absolute;
  top: 50%;
  left: 7.5rem;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 4rem;
  height: 4rem;
  z-index: 70;
  cursor: pointer;
}
@media (max-width: 30.625em) {
  .nav__button {
    left: 4rem;
  }
}
.nav__hamburger {
  display: inline-block;
  position: relative;
}
.nav__hamburger, .nav__hamburger::after, .nav__hamburger::before {
  width: 80%;
  height: 0.35rem;
  border-radius: 10px;
  background-color: #1E293B;
}
.nav__hamburger::after, .nav__hamburger::before {
  content: "";
  position: absolute;
}
.nav__hamburger::after {
  top: 10px;
}
.nav__hamburger::before {
  top: -10px;
}
.nav__disable {
  display: none !important;
}

.nav__checkbox:checked + .nav__button .nav__hamburger {
  background-color: transparent;
}
.nav__checkbox:checked + .nav__button .nav__hamburger::after, .nav__checkbox:checked + .nav__button .nav__hamburger::before {
  top: 0;
}
.nav__checkbox:checked + .nav__button .nav__hamburger::after {
  transform: rotate(135deg);
}
.nav__checkbox:checked + .nav__button .nav__hamburger::before {
  transform: rotate(-135deg);
}

.heading__languages, .heading__skills, .heading__projects, .heading__contact, .heading__lang-tools {
  position: relative;
  width: 100%;
  padding: 1.5rem 0;
  font-size: 3.5rem;
  font-weight: 400;
}
@media (max-width: 25em) {
  .heading__languages, .heading__skills, .heading__projects, .heading__contact, .heading__lang-tools {
    font-size: 2.8rem;
  }
}
.heading__shape {
  position: absolute;
  top: -20px;
  left: -15px;
  z-index: -50;
}
.heading__shape svg {
  width: 9rem;
  fill: #DBEAFE;
}

.menu {
  width: 25rem;
  height: 100vh;
  background-color: #FFFFFF;
  border-right: 1px solid #D1D5DB;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: -25rem;
  transition: right 0.4s ease-in-out;
  z-index: 50;
}
.menu__disable {
  z-index: 40;
}
.menu__disable {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: transparent;
  transition: width 0.3s;
}
.menu__item, .menu__close {
  width: 100%;
}
.menu__item {
  display: inline-block;
  padding: 2.5rem 2.5rem;
  background-color: transparent;
  border-bottom: 1px solid #F3F4F6;
  font-size: 1.4rem;
  font-weight: 400;
  color: inherit;
  text-align: right;
}
.menu__item:hover {
  color: #6B7280;
}
.menu__close {
  width: 100%;
  padding: 2.5rem 2.5rem;
  border-bottom: 1px solid #E5E7EB;
  display: flex;
  justify-content: flex-end;
}
.menu__button {
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__icon {
  display: inline-block;
  position: relative;
}
.menu__icon, .menu__icon::after, .menu__icon::before {
  width: 100%;
  height: 0.2rem;
  border-radius: 10px;
  background-color: #6B7280;
}
.menu__icon {
  background-color: transparent;
}
.menu__icon::after, .menu__icon::before {
  content: "";
  position: absolute;
}
.menu__icon::after, .menu__icon::before {
  top: top;
}
.menu__icon::after {
  transform: rotate(135deg);
}
.menu__icon::before {
  transform: rotate(-135deg);
}
.menu__close {
  padding-left: 2.5rem;
}

.grid__col-2, .grid__col-3 {
  display: grid;
  width: 100%;
  padding: 1.5rem 0;
  border-radius: 5px;
  place-content: center;
  place-items: center;
  gap: 2rem;
}
.grid__col-2 {
  grid-template-columns: repeat(2, 30rem);
  grid-template-rows: auto;
}
@media (max-width: 25em) {
  .grid__col-2 {
    grid-template-columns: repeat(2, 25rem);
  }
}
.grid__col-3 {
  grid-template-columns: repeat(3, 30rem);
  grid-template-rows: auto;
}
@media (max-width: 25em) {
  .grid__col-3 {
    grid-template-columns: repeat(3, 25rem);
    grid-template-rows: auto;
  }
}
@media (max-width: 61.25em) {
  .grid {
    grid-template-columns: repeat(2, 30rem);
    grid-template-rows: repeat(auto, 1fr);
  }
}
@media (max-width: 40em) {
  .grid {
    grid-template-columns: repeat(1, 30rem);
    grid-template-rows: repeat(auto, 1fr);
    gap: 3rem;
  }
}

.cards {
  /* === media queries === */
  /* === main styling === */
  max-width: 124rem;
  padding: 1.5rem;
  padding-bottom: 5rem;
  margin-top: 10rem;
  margin-inline: auto;
  background-color: transparent;
  /* === grid === */
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  grid-template-rows: auto;
  place-content: center;
  gap: 2.5rem;
  row-gap: 6.5rem;
}
@media (max-width: 61.25em) {
  .cards {
    grid-template-columns: repeat(3, 27rem);
  }
}
@media (max-width: 54.0625em) {
  .cards {
    grid-template-columns: repeat(2, 30rem);
    column-gap: 5rem;
    row-gap: 10rem;
  }
}
@media (max-width: 41.875em) {
  .cards {
    grid-template-columns: repeat(1, 30rem);
  }
}

.cards__wrapper {
  /* === media queries */
  /* === main styling */
  width: 30rem;
  height: max-content;
  margin-top: 5rem;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 61.25em) {
  .cards__wrapper {
    width: 27rem;
  }
}
@media (max-width: 54.0625em) {
  .cards__wrapper {
    width: 30rem;
  }
}
.cards__body, .cards__expand {
  width: 100%;
}
.cards__body {
  position: relative;
  height: 12rem;
  background-color: #FFFFFF;
  border-radius: 5px 5px 0 0;
  transition: height 0.4s ease-in-out;
}
.cards__expand {
  position: relative;
  padding: 1.5rem 0;
  background-color: transparent;
}
.cards__button {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.cards__button > i {
  font-size: 2.2rem;
  line-height: none;
  transition: transform 0.4s ease-in-out;
  color: #9CA3AF;
}
.cards__checkbox {
  display: none;
}

/* === cards up styles === */
.cards__up {
  padding-top: 6.5rem;
  padding-bottom: 2.5rem;
  width: 100%;
  height: max-content;
}
.cards__img {
  width: 8.5rem;
  height: 8.5rem;
  background-color: transparent;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  place-content: center;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.cards__img > img {
  width: 8.5rem;
}
.cards__name, .cards__position {
  width: 100%;
  height: max-content;
  text-align: center;
}
.cards__name {
  font-size: 1.8rem;
  font-weight: 400;
}
.cards__position {
  margin-top: 0.85rem;
  font-size: 1.4rem;
  color: #6B7280;
}

/* === cards down styles === */
.cards__down {
  display: none;
  width: 100%;
  height: max-content;
  padding: 0.75rem;
}
.cards__work {
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #E5E7EB;
  font-size: 1.4rem;
  text-align: right;
  line-height: 1.7;
}

/* ====== rotate the icon ====== */
.cards__checkbox:checked ~ .cards__button i {
  transform: rotate(-180deg);
}

/* ====== sorting the cards ====== */
@media (max-width: 70.625em) {
  #card-1 {
    order: 3;
  }
}

@media (max-width: 49.0625em) {
  #card-2 {
    order: 2;
  }
}

@media (max-width: 49.0625em) {
  #card-3 {
    order: 1;
  }
}

header {
  position: relative;
  background-color: #FFFFFF;
  width: 100%;
  height: 15rem;
  padding: 0 7.5rem;
}
@media (max-width: 30.625em) {
  header {
    padding: 0 4rem;
    height: 9rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo > img {
  width: 20rem;
}
.header__brand > img {
  width: 10rem;
}
@media (max-width: 30.625em) {
  .header__logo > img {
    width: 15rem;
  }
}

.home {
  width: 100%;
  min-height: 50rem;
  padding: 5rem;
  background-image: linear-gradient(to right, rgba(165, 243, 252, 0.8), rgba(34, 211, 238, 0.8)), url(../img/img02.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 34.375em) {
  .home {
    padding: 3rem;
  }
}
@media (max-width: 37.5em) {
  .home {
    min-height: 50rem;
    padding: 0;
    background-image: linear-gradient(to right, rgba(165, 243, 252, 0.5), rgba(34, 211, 238, 0.5)), url(../img/img02.jpg);
  }
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__caption {
  width: 80%;
  min-height: 35rem;
  margin: 0 auto;
  padding: 5rem;
  background-color: rgba(249, 250, 251, 0.65);
  border-radius: 10px;
}
@media (max-width: 54.0625em) {
  .home__caption {
    width: 100%;
  }
}
@media (max-width: 34.375em) {
  .home__caption {
    padding: 3rem;
  }
}
@media (max-width: 37.5em) {
  .home__caption {
    width: 100%;
    min-height: 50rem;
    padding: 4rem;
    border-radius: 0;
  }
}
.home__title, .home__desc {
  text-align: right;
}
.home__title {
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.home__desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.membership {
  min-height: 50rem;
  margin-top: 5rem;
  padding: 5rem;
  background-color: transparent;
}

.membership > :not(:last-child) {
  margin-bottom: 15rem;
}
.membership__heading {
  width: 100%;
  height: max-content;
  text-align: center;
  font-weight: 900;
  color: #334155;
}

.brief {
  width: 100%;
  height: max-content;
  padding: 5rem;
  background-color: rgba(249, 250, 251, 0.85);
  border-bottom: 1px solid #E5E7EB;
}

.brief__grid {
  max-width: 124rem;
  min-height: 35rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3, 35rem);
  grid-template-rows: repeat(auto, auto);
  place-content: center;
  gap: 2.5rem;
}
@media (max-width: 70.625em) {
  .brief__grid {
    grid-template-columns: repeat(2, 40rem);
  }
}
@media (max-width: 54.0625em) {
  .brief__grid {
    grid-template-columns: repeat(2, 35rem);
  }
}
@media (max-width: 49.0625em) {
  .brief__grid {
    grid-template-columns: repeat(1, 35rem);
  }
}
@media (max-width: 23.125em) {
  .brief__grid {
    grid-template-columns: repeat(1, 32rem);
  }
}
.brief__card {
  width: 35rem;
  height: max-content;
  padding: 2.5rem;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #E5E7EB;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
@media (max-width: 70.625em) {
  .brief__card {
    width: 40rem;
  }
}
@media (max-width: 54.0625em) {
  .brief__card {
    width: 35rem;
  }
}
@media (max-width: 23.125em) {
  .brief__card {
    width: 32rem;
  }
}
.brief__card--header, .brief__card--title, .brief__card--description {
  width: 100%;
}
.brief__card--header {
  margin-bottom: 2.5rem;
  height: 15rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #D1D5DB;
  border-radius: 5px;
  display: grid;
  place-content: center;
}
.brief__card--header > img {
  width: 13rem;
}
.brief__card--title, .brief__card--heading, .brief__card--body {
  text-align: right;
}
.brief__card--title {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.brief__card--heading {
  font-size: 1.6rem;
  color: #6B7280;
}
.brief__card--body {
  font-size: 1.6rem;
  list-style: 1.7;
}
.brief__card--description {
  margin-top: 2.5rem;
}
.brief__list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.brief__list--icon {
  line-height: none;
  font-size: 1.8rem;
  color: #22C55E;
  margin-left: 0.85rem;
}
.brief__list--content {
  text-align: right;
  font-size: 1.6rem;
  list-style: 1.7;
}
.brief__list:not(:last-child) {
  margin-bottom: 1.5rem;
}

footer {
  width: 100%;
  min-height: 25rem;
  padding: 5rem;
  background-color: rgba(249, 250, 251, 0.8);
}
@media (max-width: 37.5em) {
  footer {
    padding: 2.5rem;
  }
}

.footer__icon, .footer__location {
  width: 100%;
}
.footer__icon {
  padding: 0 5rem;
  margin-top: 2.5rem;
  height: max-content;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 81.25em) {
  .footer__icon {
    padding: 0;
  }
}
.footer__icon > *:not(:last-child) {
  margin: 0 0.75rem 0 0;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  border-radius: 5px;
  transition: transform 0.4s ease-in-out;
}
.footer__link > img {
  width: 2.5rem;
}
.footer__link:hover {
  transform: translateY(-4px);
}
.footer__link:active {
  transform: translateY(0);
}
.footer__location--desc, .footer__location--details {
  padding: 0 5rem;
  text-align: right;
}
@media (max-width: 81.25em) {
  .footer__location--desc, .footer__location--details {
    padding: 0;
  }
}
.footer__location--desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
}
.footer__location--details {
  margin-top: 1rem;
}
.footer__location--heading {
  margin-top: 2.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}
.footer__location--body {
  margin-top: 0.85rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.footer__copyrights {
  margin-top: 5rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}/*# sourceMappingURL=main.css.map */